<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Unbxd E-commerce Test Suite" parallel="classes" thread-count="3" verbose="1">
    
    <test name="Site Tests">
        <parameter name="testkey" value="unique-vintage"/>
        <classes>
            <class name="SearchResultPage.SkuSearchValidation"/>
            <class name="SearchResultPage.SearchResultPageValidation"/>
            <class name="SearchResultPage.SearchWithProductTitle"/>
            <class name="Autosuggestion.PopularProdcuctClickValidation"/>
        </classes>
    </test>
</suite>
