<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Popular Product Validation Suite" parallel="methods" thread-count="3">
    <test name="Popular Suggestion Validation">
        <classes>
            <class name="Autosuggestion.PopularSuggestion"/>
        </classes>
    </test>
</suite>